.DS_Store

!uploads/ktp/.gitkeep
!uploads/attachment/.gitkeep
!uploads/address/.gitkeep
!uploads/income/.gitkeep
!uploads/mortgage/.gitkeep
!uploads/slik/.gitkeep
!uploads/avatar/.gitkeep
!uploads/avatar/default.jpg
!uploads/prescreening/.gitkeep
!uploads/prescreening/test.pdf
!uploads/templates/xlsx/.gitkeep
!uploads/aftersales/.gitkeep
!uploads/chat/.gitkeep
!application/cache/session/.gitkeep

uploads/ktp/*
uploads/attachment/*
uploads/address/*
uploads/income/*
uploads/mortgage/*
uploads/slik/*
uploads/avatar/*
uploads/prescreening/*
uploads/aftersales/*
uploads/templates/xlsx/*
uploads/chat/*
application/cache/session/*

.env

.vscode
.vscode/*

